spring:
  mail:
    host: smtp.qq.com
    port: 587
    username: example@qq.com  # 你的 QQ 邮箱地址
    password: your_smtp_auth_code_here  # QQ 邮箱 POP3/SMTP 授权码（请替换）
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


